.portfolio {
    background-color: aqua;
  }
  
  .portfolio__main__container h1, 
  .portfolio__main__container p {
    text-align: center;
    margin-top: 3rem;
  }

   .portfolio__main__container{
    /* margin:1rem 0; */
     /* display:flex; */
    /* flex-direction: row;  */
    /* margin: 2rem 18rem; */
   
    /* justify-content:space-evenly; */
    padding-top: 5rem;
    align-items:center;
    position: absolute;
    flex-basis: 1;
    z-index: 1;
    width: 100%;
  }  
  h1{
    /* position: absolute; */
    /* z-index: 1; */
    color:white;
  
  }


  #portfolio__card__container {
    width: 40%;
    margin:1rem;
    padding: 10px;
    border: none;
    display:flex;
    justify-content:space-evenly;
    /* margin-bottom: 20px;
    margin-right: 20px; */
   
   
  }
  
  .portfolio__image:hover {
    cursor: pointer;
    filter: brightness(50%);
  }
  
  .portfolio__click__info {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    color: var(--font-color);
    display: none;
  }
  
  .portfolio__image:hover + .portfolio__click__info {
    display: block;
  }
  
  .modal-backdrop.show {
    opacity: .1 !important;
  }
  
  #portfolio__modal__link {
    padding: 0 0 1rem 1rem
  }
  
  #portfolio__modal__link:link {
    text-decoration: none;
  }
 
  
  @media only screen and (max-width: 600px){
      .portfolio__main__container {
      width: 100%;
        /* padding: 3rem 3rem; 
      display:flex !important; */
      direction:column; 
      border: none;
      z-index: 1;
      position:absolute;
      /* overflow:absolute */
      
    }
  }